<div class="navbar">
  <a href="#search">Search</a>
  
  <a routerLink="/"
  type="button" data-toggle="dropdown"
  aria-haspopup="true" aria-expanded="false" class="dropdown-toggle mr-4"><img
      src="../../assets/profile.png"
      style="width: 50px; height: 50px; border-radius: 50%; margin-right: 10px;"
      alt=""/>Urbateur Admin</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" type="submit" value="Logout" (click)="LogoutUser()">Logout</a>
      
    </div>
  
</div>
