<script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
    
    <div class="main">
        <div class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2>Gestion des utilisateurs</h2>
                            <div class="bo"></div>
                        </div>
                        <div class="col-sm-7">
                            <form class="form-inline ">
                                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Chercher"
                                  aria-label="Search">
                                  <i id="se" class="material-icons">search</i>
                            </form>         
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Référence</th>
                            <th>Type</th>
                            <th>Nom</th>
                            <th>Prénom</th>						
                            <th>email</th>
                            <th>Status</th>
                            <th>BRIK</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>13309</td>
                            <td>Entreprise</td>
                            <td>Benhima</td>
                            <td>Aymane</td>
                            <td>admin@urbateur.com</td>   
                            <td class="c">activé</td>                     
                            <td>1200</td>
                            
                            <td>
                                <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i id="edit" class="material-icons">edit</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>20441</td>
                            <td>Artisan</td>
                            <td>Elatmani</td>
                            <td>Adil</td>
                            <td>admin@urbateur.com</td> 
                            <td class="c">activé</td>                       
                            <td>1300</td>
                            
                            <td>
                                <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i id="edit" class="material-icons">edit</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>30775</td>
                            <td>Architécte</td>
                            <td>Mhaidrat</td>
                            <td>Leila</td>
                            <td>admin@urbateur.com</td>
                            <td class="s">désactivé</td> 
                            <td>800</td>
                                                  
                            <td>
                                <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i id="edit" class="material-icons">edit</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>                        
                        </tr>
                        <tr>
                            <td>88015</td>
                            <td>Etudiant</td>
                            <td>Lafkih</td>
                            <td>Yassine</td>
                            <td>admin@urbateur.com</td> 
                            <td class="c">activé</td>                        
                            <td>600</td>
                            
                            <td>
                                <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i id="edit" class="material-icons">edit</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <a href="#myModal" data-toggle="modal"><button type="button" class="btn btn-secondary btn-sm">Ajouter</button></a>
            </div>
        </div> 
        <!-- data modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
            <div class="modal-dialog">  
                 <div class="modal-content">  
                        
                      <div class="modal-body"> 
                        <h3 id="h3" >Ajouter un utilisateur</h3> 
                           <form method="post" id="insert_form"> 
                               <div class="d-flex flex-row justify-content-md-around">
                               <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Nom">
    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Prénom"></div> 
     <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">
<div class="d-flex flex-row justify-content-md-around">
                   <label id="role">Choisir le type de compte:</label>             
    <select id="sel" class="browser-default custom-select mb-4">
        <option value="" disabled>Choose option</option>
        <option value="1" selected>Entreprise</option>
        <option value="2">Artisan</option>
        <option value="3">Etudiant</option>
        <option value="4">Architècte</option>
    </select> </div>
    
    <!-- <select class="browser-default custom-select mb-4">
        <option value="" disabled>Choose option</option>
        <option value="1" selected>Activé</option>
        <option value="2">Désactivé</option>
        
    </select>  -->
    <div id="chk" class="d-flex flex-wrap justify-content-md-around">
    <!-- Group of default radios - option 1 -->
<div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios">
    <label class="custom-control-label" for="defaultGroupExample1">Activé</label>
  </div>
  
  <!-- Group of default radios - option 2 -->
  <div  class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios" checked>
    <label class="custom-control-label" for="defaultGroupExample2">Désactivé</label>
  </div>
</div>                         
                                <!-- <input type="hidden" name="employee_id" id="employee_id" />   -->
                                 
                           </form>  
                      </div>  
                      <div class="modal-footer d-flex justify-content-between align-items-center">  
                        <button type="button" class="btn btn-secondary btn-sm"><span class="material-icons">
                            person_add
                            </span> Ajouter</button>
                            
                      </div>  
                 </div>  
            </div>  

       </div>
       <!-- data modal -->
       <!-- <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
        <div class="modal-dialog">  
             <div class="modal-content">  
                    
                  <div class="modal-body">  
                      <h3 id="h3" >Ajouter un membre</h3>
                       <form method="post" id="insert_form"> 
                           <div class="d-flex flex-row justify-content-md-between">
                           <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Nom">
<input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Prénom"></div> 
<input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">
<div class="d-flex flex-row justify-content-md-between">
        <label id="role">Donner un Rôle:</label>                    
<select id="sel" class="browser-default custom-select mb-4">
    <option value="" disabled>Choose option</option>
    <option value="1" selected>Super Admin</option>
    <option value="2">Manager</option>
    <option value="3">Moderator</option>
    <option value="4">Publisher</option>
</select> </div>
                             
                       </form>  
                  </div>  
                  <div class="modal-footer d-flex justify-content-between align-items-center">  
                   
                        <button type="button" class="btn btn-secondary btn-sm"><span class="material-icons">
                            person_add
                            </span> Ajouter</button>
                    
                  </div>  
             </div>  
        </div>  

   </div> -->
   
</div>
    


    