<script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
    
    <div class="main">
         <!-- buttons -->
         <div class="row">
            <div class="col-lg-3 col-xs-6">
              <div (click) = toggleDisplay() class="rad-info-box">
                <span class="heading">Posts des étudiants</span>
                <div class="bo"></div>
                <i class="material-icons" style="color: #f0932b;">school</i>
                <span class="value"><span>2770</span></span>
              </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div (click) = toggleDisplay4() class="rad-info-box">
                  <span class="heading">Posts des entreprises</span>
                  <div class="bo"></div>
                  <i class="material-icons" style="color: #f0932b;">apartment</i>
                  <span class="value"><span>2770</span></span>
                </div>
              </div>
              <div class="col-lg-3 col-xs-6">
                <div (click) = toggleDisplay5() class="rad-info-box">
                  <span class="heading">Posts des artisans</span>
                  <div class="bo"></div>
                  <i class="material-icons" style="color: #f0932b;">build</i>
                  <span class="value"><span>2770</span></span>
                </div>
              </div>
              <div class="col-lg-3 col-xs-6">
                <div (click) = toggleDisplay6() class="rad-info-box">
                  <span class="heading">Posts des architècte</span>
                  <div class="bo"></div>
                  <i class="material-icons" style="color: #f0932b;">business_center</i>
                  <span class="value"><span>2770</span></span>
                </div>
              </div>
              <div class="col-lg-3 col-xs-6">
                <div (click) = toggleDisplay7() class="rad-info-box">
                  <span class="heading">Posts des utilisateurs</span>
                  <div class="bo"></div>
                  <i class="material-icons" style="color: #27ae60">person</i>
                  <span class="value"><span>2770</span></span>
                </div>
              </div>
            <div class="col-lg-3 col-xs-6">
              <div (click) = toggleDisplay2() class="rad-info-box">
                <span class="heading">Posts de Urbateurs</span>
                <div class="bo"></div>
                <i class="material-icons" style="color: #3498db;">supervisor_account</i>
                <span class="value"><span>23K</span></span>
              </div>
            </div>
        
            <div class="col-lg-3 col-xs-6">
              <div (click) = toggleDisplay3() class="rad-info-box">
                <span class="heading">Posts signalés</span>
                <div class="bo"></div>
                <i class="material-icons" style="color: #e74c3c;">report</i>
                <span class="value"><span>49M</span></span>
              </div>
            </div>
        <!-- post user -->
        <div [hidden] = "isShow" class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2 id="etudiant">Posts des étudiants</h2>
                            <div class="bo"></div>
                        </div>
                        <div class="col-sm-7">
                            <form class="form-inline ">
                                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Chercher"
                                  aria-label="Search">
                                  <i id="se" class="material-icons">search</i>
                            </form>         
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Référence</th>
                            <th>Post</th>
                            <th>Publié par</th>
                        					
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>13309</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Aymane Benhima</td>
                          
                            <td>16/04/2020 18:37</td>   
                        
                            <td>
                                <a href="#" class="settings" title="Voir le contenu" data-toggle="tooltip"><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>20441</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Aymane Benhima</td>
                           
                            <td>16/04/2020 18:37</td>                         
                            
                            
                            <td>
                                <a href="#" class="settings" title="Voir le contenu" data-toggle="tooltip"><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>30775</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Aymane Benhima</td>
                          
                            <td>16/04/2020 18:37</td>   
                            
                                                  
                            <td>
                                <a href="#" class="settings" title="Voir le contenu" data-toggle="tooltip"><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete</i></a>
                            </td>                        
                        </tr>
                        <tr>
                            <td>88015</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Aymane Benhima</td>
                         
                            <td>16/04/2020 18:37</td>                          
                            
                            
                            <td>
                                <a href="#" class="settings" title="Voir le contenu" data-toggle="tooltip"><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>88015</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Aymane Benhima</td>
                           
                            <td>16/04/2020 18:37</td>                          
                            
                            
                            <td>
                                <a href="#" class="settings" title="Voir le contenu" data-toggle="tooltip"><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <div class="clearfix">
                    <div class="hint-text">Affichage de <b>5</b> posts sur <b>25</b></div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Previous</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>     
        <!-- companies -->
        <div [hidden] = "isShow4" class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2 id="company">Posts des entreprises</h2>
                            <div class="bo"></div>
                        </div>
                        <div class="col-sm-7">
                            <form class="form-inline ">
                                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Chercher"
                                  aria-label="Search">
                                  <i id="se" class="material-icons">search</i>
                            </form>         
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Référence</th>
                            <th>Post</th>
                            <th>Publié par</th>
                        					
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>13309</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Aymane Benhima</td>
                          
                            <td>16/04/2020 18:37</td>   
                        
                            <td>
                                <a href="#myModal" data-toggle="modal" class="settings" title="Voir le contenu"><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>20441</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Aymane Benhima</td>
                           
                            <td>16/04/2020 18:37</td>                         
                            
                            
                            <td>
                                <a href="#myModal" data-toggle="modal" class="settings" title="Voir le contenu"><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>30775</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Aymane Benhima</td>
                          
                            <td>16/04/2020 18:37</td>   
                            
                                                  
                            <td>
                                <a href="#myModal" data-toggle="modal" class="settings" title="Voir le contenu" ><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete</i></a>
                            </td>                        
                        </tr>
                        <tr>
                            <td>88015</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Aymane Benhima</td>
                         
                            <td>16/04/2020 18:37</td>                          
                            
                            
                            <td>
                                <a href="#myModal" data-toggle="modal" class="settings" title="Voir le contenu" ><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>88015</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Aymane Benhima</td>
                           
                            <td>16/04/2020 18:37</td>                          
                            
                           
                            <td>
                                <a href="#myModal" data-toggle="modal" class="settings" title="Voir le contenu" ><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <div class="clearfix">
                    <div class="hint-text">Affichage de <b>5</b> posts sur <b>25</b></div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Previous</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- artisan -->
        <div [hidden] = "isShow5" class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2 id="artisan">Posts des artisan</h2>
                            <div class="bo"></div>
                        </div>
                        <div class="col-sm-7">
                            <form class="form-inline ">
                                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Chercher"
                                  aria-label="Search">
                                  <i id="se" class="material-icons">search</i>
                            </form>         
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Référence</th>
                            <th>Post</th>
                            <th>Publié par</th>
                        					
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>13309</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Aymane Benhima</td>
                          
                            <td>16/04/2020 18:37</td>   
                        
                            <td>
                                <a href="#myModal" data-toggle="modal" class="settings" title="Voir le contenu"><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>20441</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Aymane Benhima</td>
                           
                            <td>16/04/2020 18:37</td>                         
                            
                            
                            <td>
                                <a href="#myModal" data-toggle="modal" class="settings" title="Voir le contenu"><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>30775</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Aymane Benhima</td>
                          
                            <td>16/04/2020 18:37</td>   
                            
                                                  
                            <td>
                                <a href="#myModal" data-toggle="modal" class="settings" title="Voir le contenu" ><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete</i></a>
                            </td>                        
                        </tr>
                        <tr>
                            <td>88015</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Aymane Benhima</td>
                         
                            <td>16/04/2020 18:37</td>                          
                            
                            
                            <td>
                                <a href="#myModal" data-toggle="modal" class="settings" title="Voir le contenu" ><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>88015</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Aymane Benhima</td>
                           
                            <td>16/04/2020 18:37</td>                          
                            
                           
                            <td>
                                <a href="#myModal" data-toggle="modal" class="settings" title="Voir le contenu" ><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <div class="clearfix">
                    <div class="hint-text">Affichage de <b>5</b> posts sur <b>25</b></div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Previous</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- users -->
        <div [hidden] = "isShow7" class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2 id="users">Posts des utilisateurs</h2>
                            <div class="bo"></div>
                        </div>
                        <div class="col-sm-7">
                            <form class="form-inline ">
                                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Chercher"
                                  aria-label="Search">
                                  <i id="se" class="material-icons">search</i>
                            </form>         
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Référence</th>
                            <th>Post</th>
                            <th>Publié par</th>
                        					
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>13309</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Adil Elatmani</td>
                          
                            <td>16/04/2020 18:37</td>   
                        
                            <td>
                                <a href="#myModal" data-toggle="modal" class="settings" title="Voir le contenu"><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>20441</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Adil Elatmani</td>
                           
                            <td>16/04/2020 18:37</td>                         
                            
                            
                            <td>
                                <a href="#myModal" data-toggle="modal" class="settings" title="Voir le contenu"><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>30775</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Adil Elatmani</td>
                          
                            <td>16/04/2020 18:37</td>   
                            
                                                  
                            <td>
                                <a href="#myModal" data-toggle="modal" class="settings" title="Voir le contenu" ><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete</i></a>
                            </td>                        
                        </tr>
                        <tr>
                            <td>88015</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Adil Elatmani</td>
                         
                            <td>16/04/2020 18:37</td>                          
                            
                            
                            <td>
                                <a href="#myModal" data-toggle="modal" class="settings" title="Voir le contenu" ><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>88015</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Adil Elatmani</td>
                           
                            <td>16/04/2020 18:37</td>                          
                            
                           
                            <td>
                                <a href="#myModal" data-toggle="modal" class="settings" title="Voir le contenu" ><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <div class="clearfix">
                    <div class="hint-text">Affichage de <b>5</b> posts sur <b>25</b></div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Previous</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- architecte -->
        <div [hidden] = "isShow6" class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2 id="arch">Posts des architèctes</h2>
                            <div class="bo"></div>
                        </div>
                        <div class="col-sm-7">
                            <form class="form-inline ">
                                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Chercher"
                                  aria-label="Search">
                                  <i id="se" class="material-icons">search</i>
                            </form>         
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Référence</th>
                            <th>Post</th>
                            <th>Publié par</th>
                        					
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>13309</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Hachim Aroui</td>
                          
                            <td>16/04/2020 18:37</td>   
                        
                            <td>
                                <a href="#myModal" data-toggle="modal" class="settings" title="Voir le contenu"><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>20441</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Hachim Aroui</td>
                           
                            <td>16/04/2020 18:37</td>                         
                            
                            
                            <td>
                                <a href="#myModal" data-toggle="modal" class="settings" title="Voir le contenu"><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>30775</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Hachim Aroui</td>
                          
                            <td>16/04/2020 18:37</td>   
                            
                                                  
                            <td>
                                <a href="#myModal" data-toggle="modal" class="settings" title="Voir le contenu" ><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete</i></a>
                            </td>                        
                        </tr>
                        <tr>
                            <td>88015</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Hachim Aroui</td>
                         
                            <td>16/04/2020 18:37</td>                          
                            
                            
                            <td>
                                <a href="#myModal" data-toggle="modal" class="settings" title="Voir le contenu" ><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>88015</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Hachim Aroui</td>
                           
                            <td>16/04/2020 18:37</td>                          
                            
                           
                            <td>
                                <a href="#myModal" data-toggle="modal" class="settings" title="Voir le contenu" ><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <div class="clearfix">
                    <div class="hint-text">Affichage de <b>5</b> posts sur <b>25</b></div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Previous</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- signalés -->
        <div [hidden] = "isShow3" class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2 id="report">Posts signalés</h2>
                            <div class="bo"></div>
                        </div>
                        <div class="col-sm-7">
                            <form class="form-inline ">
                                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Chercher"
                                  aria-label="Search">
                                  <i id="se" class="material-icons">search</i>
                            </form>         
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Référence</th>
                            <th>Post</th>
                            <th>Publié par</th>
                            					
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>13309</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Aymane Benhima</td>
                            
                            <td>16/04/2020 18:37</td>   
                        
                            <td>
                                <a href="#myModal" data-toggle="modal" class="settings" title="Voir le contenu" ><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>20441</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Aymane Benhima</td>
                           
                            <td>16/04/2020 18:37</td>                         
                            
                            
                            <td>
                                <a href="#myModal" data-toggle="modal" class="settings" title="Voir le contenu" ><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>30775</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Aymane Benhima</td>
                          
                            <td>16/04/2020 18:37</td>   
                            
                                                  
                            <td>
                                <a href="#" class="settings" title="Voir le contenu" data-toggle="tooltip"><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>                        
                        </tr>
                        <tr>
                            <td>88015</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Aymane Benhima</td>
                          
                            <td>16/04/2020 18:37</td>                          
                            
                            
                            <td>
                                <a href="#" class="settings" title="Voir le contenu" data-toggle="tooltip"><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>88015</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Aymane Benhima</td>
                        
                            <td>16/04/2020 18:37</td>                          
                            
                            
                            <td>
                                <a href="#" class="settings" title="Voir le contenu" data-toggle="tooltip"><i id="comfirm" class="material-icons">visibility</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <div class="clearfix">
                    <div class="hint-text">Affichage de <b>5</b> posts sur <b>25</b></div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Previous</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>     


        <!-- mes post -->

        <div [hidden] = "isShow2" class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2 id="urbateur">Posts des administrateurs</h2>
                            <div class="bo"></div>
                        </div>
                        <div class="col-sm-7">
                            <form class="form-inline ">
                                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Chercher"
                                  aria-label="Search">
                                  <i id="se" class="material-icons">search</i>
                            </form>         
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Référence</th>
                            <th>Post</th>
                            <th>Publié par</th>
                         						
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>13309</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Aymane Benhima</td>
                           
                            <td>16/04/2020 18:37</td>   
                        
                            <td>
                                <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i id="edit" class="material-icons">edit</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>20441</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Aymane Benhima</td>
                          
                            <td>16/04/2020 18:37</td>                         
                            
                            
                            <td>
                                <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i id="edit" class="material-icons">edit</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>30775</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Aymane Benhima</td>
                         
                            <td>16/04/2020 18:37</td>   
                            
                                                  
                            <td>
                                <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i id="edit" class="material-icons">edit</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>                        
                        </tr>
                        <tr>
                            <td>88015</td>
                            <td>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit...</td>
                            <td>Aymane Benhima</td>
                         
                            <td>16/04/2020 18:37</td>                          
                            
                            
                            <td>
                                
                                <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i id="edit" class="material-icons">edit</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <button type="button" class="btn btn-secondary btn-sm">Ajouter</button>
            </div>
        </div> 
        <!-- Central Modal Warning Demo-->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
<div class="modal-dialog modal-notify modal-warning modal-side modal-bottom-left" role="document">
  <!--Content-->
  <div class="modal-content">
    <!--Header-->
    <div class="modal-header">
      

      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="white-text">&times;</span>
      </button>
    </div>

    <!--Body-->
    <div class="modal-body" >

      <div class="row">
        <div class="col-3 text-center">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" alt="IMG of Avatars"
            class="img-fluid z-depth-1-half rounded-circle">
          <div style="height: 10px"></div>
          <p id="name" class="title mb-0">Aymane Benhima</p>
          <p class="text-muted " style="font-size: 13px"></p>
        </div>

        <div class="col-9">
            <h3></h3>
          <p id="po">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, molestiae provident temporibus
            sunt earum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, molestiae provident temporibus
            sunt earum.Lorem ipsum dolor sit amet. <img id="i1" src="../../../assets/download.png" alt=""></p>
            
          <p id="date" class="card-text"><strong>Le 16/04/2020 à 18:37:04</strong></p>
        </div>
      </div>


    </div>

    <!--Footer-->
    <div class="modal-footer justify-content-center">
      <a id="supp" type="button" class="btn btn-danger">Supprimer</a>
      <a id="close" type="button" class="btn btn-outline-secondary waves-effect" data-dismiss="modal">Fermer</a>
    </div>
  </div>
  <!--/.Content-->
</div>
</div>
<!-- Central Modal Warning Demo-->


    </div>