<script type="text/javascript">
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
  });
  </script>
<div class="main">
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <div class="rad-info-box">
          <span class="heading">TOTAL des livres</span>
          <div class="bo"></div>
          <i class="fa fa-book" style="color: #f0932b;"></i>
          <span class="value"><span>2770</span></span>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6">
        <div class="rad-info-box">
          <span class="heading">TOTAL des posts</span>
          <div class="bo"></div>
          <i class="fa fa-file-text" style="color: #e74c3c;"></i>
          <span class="value"><span>23K</span></span>
        </div>
      </div>
  
      <div class="col-lg-3 col-xs-6">
        <div class="rad-info-box">
          <span class="heading">TOTAL des utilisateurs</span>
          <div class="bo"></div>
          <i class="fa fa-users" style="color: #3498db;"></i>
          <span class="value"><span>49M</span></span>
        </div>
      </div>
  
      <div class="col-lg-3 col-xs-6">
        <div class="rad-info-box">
          <span class="heading">TOTAL de revenu</span>
          <div class="bo"></div>
          <i class="fa fa-money" style="color: #27ae60;"></i>
          <span class="value"><span>10.9K</span></span>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6">
        <div class="rad-info-box">
          <span class="heading">Utilisateurs actifs</span>
          <div class="bo"></div>
          <i class="fa fa-users" style="color: #3498db;"></i>
          <span class="value"><span>49M</span></span>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6">
        <div class="rad-info-box">
          <span class="heading">Utilisateurs non-actifs</span>
          <div class="bo"></div>
          <i class="fa fa-users" style="color: #3498db;"></i>
          <span class="value"><span>49M</span></span>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6">
        <div class="rad-info-box">
          <span class="heading">Messages des Utilisateurs</span>
          <div class="bo"></div>
          <i class="fa fa-users" style="color: #3498db;"></i>
          <span class="value"><span>49M</span></span>
        </div>
      </div>
    </div>

  
    <!-- <div class="col-lg-3 col-xs-6">
      <div class="rad-info-box">
        <span class="heading">Nouveaux utilisateurs</span>
        <i class="fa fa-users" style="color: #3498DB;"></i>
        <span class="value"><span>49M</span></span>
      </div>
    </div> -->
    <div class="container">
      <div class="table-wrapper">
          <div class="table-title">
              <div class="row">
                  <div class="col-sm-7">
                      <h2>Nouveaux utilisateurs</h2>
                      <div class="bo"></div>
                  </div>
                  
              </div>
          </div>
          <table class="table table-striped table-hover">
              <thead>
                  <tr>
                      
                      <th>Type</th>
                      <th>Nom</th>					
                      <th>email</th>
                      <th>date</th>
                      
                      
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      
                      <td>Entreprise</td>
                      <td>Aymane Benhima</td>
                      <td>admin@urbateur.com</td>                    
                      <td>23/04/2020</td>
                      
                  </tr>
                  <tr>
                      
                    <td>Entreprise</td>
                    <td>Aymane Benhima</td>
                    <td>admin@urbateur.com</td>                    
                    <td>23/04/2020</td>
                    
                </tr>
                <tr>
                      
                  <td>Entreprise</td>
                  <td>Aymane Benhima</td>
                  <td>admin@urbateur.com</td>                    
                  <td>23/04/2020</td>
                  
              </tr>
              <tr>
                      
                <td>Entreprise</td>
                <td>Aymane Benhima</td>
                <td>admin@urbateur.com</td>                    
                <td>23/04/2020</td>
                
            </tr>
                  <tr>
                    <td>Entreprise</td>
                    <td>Aymane Benhima</td>
                    <td>admin@urbateur.com</td>                    
                    <td>23/04/2020</td>
                  </tr>
                  <tr>
                    <td>Entreprise</td>
                    <td>Aymane Benhima</td>
                    <td>admin@urbateur.com</td>                    
                    <td>23/04/2020</td>                       
                  </tr>
                  <tr>
                    <td>Entreprise</td>
                    <td>Aymane Benhima</td>
                    <td>admin@urbateur.com</td>                    
                    <td>23/04/2020</td>
                  </tr>
              </tbody>
          </table>
          
         
      </div>
  </div>  
</div>  