<div class="sidenav" fxLayout="column" fxLayoutAlign="space-around center">
  <img class="image" src="../../assets/logo.png" style="width: 120px;" alt="" />
  <a routerLink="/"><i class="fa fa-home"></i>Accueil</a>
  <a routerLink="/admin-management"
    ><i class="fa fa-user-secret"></i>Gestion des administrateurs</a
  >
  <a routerLink="/user-management"
    ><i class="fa fa-users"></i>Gestion des utilisateurs</a
  >
  <a routerLink="/brik-management"
    ><i class="fa fa-money"></i>Gestion des BRIK</a
  >
  <a routerLink="/post-management"
    ><i class="fa fa-file-text"></i>Gestion des posts</a
  >
  <a routerLink="/messages"><i class="fa fa-envelope"></i>Messagerie</a>
  <a routerLink="/book-management"
    ><i class="fa fa-book"></i>Gestion des livres</a
  >
</div>