<script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
    
    <div class="main">
        <div class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2>Gestion des administrateurs</h2>
                            <div class="bo"></div>
                        </div>
                        <div class="col-sm-7">
                                                
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            
                            <th>Nom</th>
                            <th>Prénom</th>						
                            <th>email</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            
                            <td>Benhima</td>
                            <td>Aymane</td>
                            <td>admin@urbateur.com</td>                    
                            <td><p>Admin</p></td>
                            
                            <td>
                                <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i id="edit" class="material-icons">edit</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            
                            <td>Elatmani</td>
                            <td>Adil</td>
                            <td>admin@urbateur.com</td>                   
                            <td><p>Publisher</p></td>
                            
                            <td>
                                <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i id="edit" class="material-icons">edit</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            
                            <td>Mhaidrat</td>
                            <td>Leila</td>
                            <td>admin@urbateur.com</td>
                            <td><p>Publisher</p></td>
                                                  
                            <td>
                                <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i id="edit" class="material-icons">edit</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>                        
                        </tr>
                        <tr>
                            <td>Marhoum</td>
                            <td>Sara</td>
                            <td>admin@urbateur.com</td>
                            <td><p>Reviewer</p></td>
                            
                            <td>
                                <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i id="edit" class="material-icons">edit</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            
                            <td>Lafkih</td>
                            <td>Yassine</td>
                            <td>admin@urbateur.com</td>                      
                            <td><p>Moderator</p></td>
                            
                            <td>
                                <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i id="edit" class="material-icons">edit</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <div class="clearfix">
                    <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Previous</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Next</a></li>
                    </ul>
                </div> -->
               <a href="#myModal" data-toggle="modal"> <button type="button" class="btn btn-secondary btn-sm">Ajouter</button></a>
            </div>
        </div>     
        <!-- data modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
            <div class="modal-dialog">  
                 <div class="modal-content">  
                        
                      <div class="modal-body">  
                          <h3 id="h3" >Ajouter un membre</h3>
                           <form method="post" id="insert_form"> 
                               <div class="d-flex flex-row justify-content-md-between">
                               <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Nom">
    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Prénom"></div> 
    <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">
<div class="d-flex flex-row justify-content-md-between">
            <label id="role">Donner un Rôle:</label>                    
    <select id="sel" class="browser-default custom-select mb-4">
        <option value="" disabled>Choose option</option>
        <option value="1" selected>Super Admin</option>
        <option value="2">Manager</option>
        <option value="3">Moderator</option>
        <option value="4">Publisher</option>
    </select> </div>
                                  
                                <!-- <input type="hidden" name="employee_id" id="employee_id" />   -->
                                 
                           </form>  
                      </div>  
                      <div class="modal-footer d-flex justify-content-between align-items-center">  
                       
                            <button type="button" class="btn btn-secondary btn-sm"><span class="material-icons">
                                person_add
                                </span> Ajouter</button>
                        
                      </div>  
                 </div>  
            </div>  

       </div>
       
    </div>
    
