<script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
    
    <div class="main">
        <!-- buttons -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
              <div (click) = toggleDisplay() class="rad-info-box">
                <span class="heading">Achats des BRIK</span>
                <div class="bo"></div>
                <i class="fa fa-money" style="color: #f0932b;"></i>
                <span class="value"><span>2770</span></span>
              </div>
            </div>
            <div class="col-lg-3 col-xs-6">
              <div (click) = toggleDisplay2() class="rad-info-box">
                <span class="heading">Transactions</span>
                <div class="bo"></div>
                <i class="fa fa-money" style="color: #e74c3c;"></i>
                <span class="value"><span>23K</span></span>
              </div>
            </div>
        
            <div class="col-lg-3 col-xs-6">
              <div (click) = toggleDisplay3() class="rad-info-box">
                <span class="heading">Rembouressements</span>
                <div class="bo"></div>
                <i class="fa fa-money" style="color: #3498db;"></i>
                <span class="value"><span>49M</span></span>
              </div>
            </div>
        
        
        <!-- gestion des transaction -->
        <div  [hidden] = "isShow2" class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2 id="gt">Gestion des transactions</h2>
                            <div class="bo"></div>
                        </div>
                        <div class="col-sm-7">
                            <form class="form-inline ">
                                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Chercher"
                                  aria-label="Search">
                                  <i id="se" class="material-icons">search</i>
                            </form>         
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>email</th>
                            <th>Transaction</th>
                            <th>devise</th>	
                            <th>mode de paiement</th>					
                            <th>Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Benhima</td>
                            <td>Aymane</td>
                            <td>AymaneBenhima@gmail.com</td>
                            <td>13309</td>
                            <td>USD</td>
                            <td>Paypal</td>
                            <td>16/04/2020 18:37</td>   
                            <td class="c">validé</td>                     
                            
                            
                            <td>
                                <a href="#" class="settings" title="comfirmer" data-toggle="tooltip"><i id="comfirm" class="material-icons">done_all</i></a>
                                
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Benhima</td>
                            <td>Aymane</td>
                            <td>AymaneBenhima@gmail.com</td>
                            <td>13309</td>
                            <td>USD</td>
                            <td>Paypal</td>
                            <td>16/04/2020 18:37</td>   
                            <td class="c">validé</td>                       
                            
                            
                            <td>
                                <a href="#" class="settings" title="comfirmer" data-toggle="tooltip"><i id="comfirm" class="material-icons">done_all</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Benhima</td>
                            <td>Aymane</td>
                            <td>AymaneBenhima@gmail.com</td>
                            <td>13309</td>
                            <td>USD</td>
                            <td>Paypal</td>
                            <td>16/04/2020 18:37</td>   
                            <td class="c">validé</td> 
                            
                                                  
                            <td>
                                <a href="#" class="settings" title="comfirmer" data-toggle="tooltip"><i id="comfirm" class="material-icons">done_all</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>                        
                        </tr>
                        <tr>
                            <td>Benhima</td>
                            <td>Aymane</td>
                            <td>AymaneBenhima@gmail.com</td>
                            <td>13309</td>
                            <td>USD</td>
                            <td>Paypal</td>
                            <td>16/04/2020 18:37</td>   
                            <td class="c">validé</td>                        
                            
                            
                            <td>
                                <a href="#" class="settings" title="comfirmer" data-toggle="tooltip"><i id="comfirm" class="material-icons">done_all</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Benhima</td>
                            <td>Aymane</td>
                            <td>AymaneBenhima@gmail.com</td>
                            <td>13309</td>
                            <td>USD</td>
                            <td>Paypal</td>
                            <td>16/04/2020 18:37</td>   
                            <td class="c">validé</td>                       
                            
                            
                            <td>
                                <a href="#" class="settings" title="comfirmer" data-toggle="tooltip"><i id="comfirm" class="material-icons">done_all</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <div class="clearfix">
                    <div class="hint-text">Affichage de <b>5</b> transaction sur <b>25</b></div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Previous</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
<!-- rembouressement -->
        <div [hidden] = "isShow3" class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2 id="r">Gestion des rembourssements</h2>
                            <div class="bo"></div>
                        </div>
                        <div class="col-sm-7">
                            <form class="form-inline ">
                                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Chercher"
                                  aria-label="Search">
                                  <i id="se" class="material-icons">search</i>
                            </form>         
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>email</th>
                            <th>Rembouressement</th>
                            <th>Montant</th>					
                            <th>Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Benhima</td>
                            <td>Aymane</td>
                            <td>AymaneBenhima@gmail.com</td>
                            <td>13309</td>
                            <td>1000 <b>dh</b> </td>
                            <td>16/04/2020 18:37</td>   
                            <td class="c">validé</td>                     
                            
                            
                            <td>
                                <a href="#" class="settings" title="comfirmer" data-toggle="tooltip"><i id="comfirm" class="material-icons">done_all</i></a>
                                
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Benhima</td>
                            <td>Aymane</td>
                            <td>AymaneBenhima@gmail.com</td>
                            <td>13309</td>
                            <td>1000 <b>dh</b> </td>
                            <td>16/04/2020 18:37</td>   
                            <td class="c">validé</td>                        
                            
                            
                            <td>
                                <a href="#" class="settings" title="comfirmer" data-toggle="tooltip"><i id="comfirm" class="material-icons">done_all</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Benhima</td>
                            <td>Aymane</td>
                            <td>AymaneBenhima@gmail.com</td>
                            <td>13309</td>
                            <td>1000 <b>dh</b> </td>
                            <td>16/04/2020 18:37</td>   
                            <td class="c">validé</td> 
                            
                                                  
                            <td>
                                <a href="#" class="settings" title="comfirmer" data-toggle="tooltip"><i id="comfirm" class="material-icons">done_all</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>                        
                        </tr>
                        <tr>
                            <td>Benhima</td>
                            <td>Aymane</td>
                            <td>AymaneBenhima@gmail.com</td>
                            <td>13309</td>
                            <td>1000 <b>dh</b> </td>
                            <td>16/04/2020 18:37</td>   
                            <td class="c">validé</td>                        
                            
                            
                            <td>
                                <a href="#" class="settings" title="comfirmer" data-toggle="tooltip"><i id="comfirm" class="material-icons">done_all</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Benhima</td>
                            <td>Aymane</td>
                            <td>AymaneBenhima@gmail.com</td>
                            <td>13309</td>
                            <td>1000 <b>dh</b> </td>
                            <td>16/04/2020 18:37</td>   
                            <td class="c">validé</td>                       
                            
                            
                            <td>
                                <a href="#" class="settings" title="comfirmer" data-toggle="tooltip"><i id="comfirm" class="material-icons">done_all</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-secondary btn-sm">Rembourser</button>

                <div class="clearfix">
                    <div class="hint-text">Affichage de <b>5</b> rembourssements sur <b>25</b></div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Previous</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- gestion des brik -->
        <div  [hidden] = "isShow" class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2 id="gb">Gestion des BRIK</h2>
                            <div class="bo"></div>
                        </div>
                        <div class="col-sm-7">
                            <form class="form-inline ">
                                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Chercher"
                                  aria-label="Search">
                                  <i id="se" class="material-icons">search</i>
                            </form>         
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>email</th>
                            <th>BRIK</th>
                            <th>devise</th>	
                            <th>mode de paiement</th>					
                            <th>Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Benhima</td>
                            <td>Aymane</td>
                            <td>AymaneBenhima@gmail.com</td>
                            <td>13309</td>
                            <td>USD</td>
                            <td>Paypal</td>
                            <td>16/04/2020 18:37</td>   
                            <td class="c">validé</td>                     
                            
                            
                            <td>
                                <a href="#" class="settings" title="comfirmer" data-toggle="tooltip"><i id="comfirm" class="material-icons">done_all</i></a>
                                
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Benhima</td>
                            <td>Aymane</td>
                            <td>AymaneBenhima@gmail.com</td>
                            <td>13309</td>
                            <td>USD</td>
                            <td>Paypal</td>
                            <td>16/04/2020 18:37</td>   
                            <td class="c">validé</td>                       
                            
                            
                            <td>
                                <a href="#" class="settings" title="comfirmer" data-toggle="tooltip"><i id="comfirm" class="material-icons">done_all</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Benhima</td>
                            <td>Aymane</td>
                            <td>AymaneBenhima@gmail.com</td>
                            <td>13309</td>
                            <td>USD</td>
                            <td>Paypal</td>
                            <td>16/04/2020 18:37</td>   
                            <td class="c">validé</td> 
                            
                                                  
                            <td>
                                <a href="#" class="settings" title="comfirmer" data-toggle="tooltip"><i id="comfirm" class="material-icons">done_all</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>                        
                        </tr>
                        <tr>
                            <td>Benhima</td>
                            <td>Aymane</td>
                            <td>AymaneBenhima@gmail.com</td>
                            <td>13309</td>
                            <td>USD</td>
                            <td>Paypal</td>
                            <td>16/04/2020 18:37</td>   
                            <td class="c">validé</td>                        
                            
                            
                            <td>
                                <a href="#" class="settings" title="comfirmer" data-toggle="tooltip"><i id="comfirm" class="material-icons">done_all</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Benhima</td>
                            <td>Aymane</td>
                            <td>AymaneBenhima@gmail.com</td>
                            <td>13309</td>
                            <td>USD</td>
                            <td>Paypal</td>
                            <td>16/04/2020 18:37</td>   
                            <td class="c">validé</td>                       
                            
                            
                            <td>
                                <a href="#" class="settings" title="comfirmer" data-toggle="tooltip"><i id="comfirm" class="material-icons">done_all</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <div class="clearfix">
                    <div class="hint-text">Affichage de <b>5</b> transaction sur <b>25</b></div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Previous</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
