* {
    text-align: center;
}
.main {
    margin-top: 0px; /* Add a top margin to avoid content overlay */
    margin-left: 274px; /* Same as the width of the sidenav */
    font-size: 14px; /* Increased text to enable scrolling */
    padding: 28px 15px;
    height: 100%;
    background-color: #F7F8FA;
    
} 
.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    margin: 30px 0 ;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0,0,0,.05);
    
}
.table-title {
    padding-bottom: 20px;
    background: #ffffff;
    color: rgb(59, 59, 59);
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 20px;
    padding-right: 175px;
    color: #5A5A5A;
}
.table-title .btn {
    color: #566787;
    float: right;
    font-size: 13px;
    background: #fff;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}
.table-title .btn:hover, .table-title .btn:focus {
    color: #566787;
    background: #f2f2f2;
}
.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}
.table-title .btn span {
    float: left;
    margin-top: 2px;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 8px 0px;
    vertical-align: middle;
}
table.table tr th:first-child {
    width: 60px;
}
table.table tr th:last-child {
    width: 70px;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}	
table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}
table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
}
table.table td a:hover {
    color: #2196F3;
}
table.table td a.settings {
    color: #ffffff;
}
table.table td a.delete {
    color: #ffffff;
}
table.table td i {
    font-size: 19px;
}

.status {
    font-size: 30px;
    margin: 2px 2px 0 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 10px;
}
.text-success {
    color: #10c469;
}
.text-info {
    color: #62c9e8;
}
.text-warning {
    color: #FFC107;
}
.text-danger {
    color: #ff5b5b;
}
.pagination {
    float: right;
    margin: 0 0 5px;
}
.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}
.pagination li a:hover {
    color: #666;
}	
.pagination li.active a, .pagination li.active a.page-link {
    background: rgba(105, 105, 105, 0.658);
    color: black;
}
.pagination li.active a:hover {        
    background: rgba(75, 74, 74, 0.685);
    color: #fff;
}
.pagination li.disabled i {
    color: #ccc;
}
.pagination li i {
    font-size: 16px;
    padding-top: 6px
}
.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}
p{
    background-color: #2ECC71;
    padding: 0px 0px;
    margin-right: 10px;
    color: #ffffff;
    
}

#edit{
    background-color: #F1C40F;
    margin-left: 10px;
}
#delete{
    background-color: #FC2F1B;
}
button{
    padding: 2px 20px;
    display: flex;
    align-self: start;
    border-radius: 0%;
    margin-top: 50px;
}

.bo{
    border-bottom:2px solid #83BEDF;
    width: 70px;
    margin-left: 20px;

}
.c{
    color: #2ECC71;
   
}
.s{
    color: #FC2F1B;
}
#comfirm{
    background-color:#83BEDF ;
}

/* buttons */
.rad-info-box {
    margin-bottom: 16px;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    padding: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background: white !important;
    height: auto;
  }
  
  .rad-info-box i {
    display: block;
    background-clip: padding-box;
    margin-right: 15px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 1.8em;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .rad-info-box .value {
    display: block;
    position: relative;
    color: #515d6e;
    text-align: right;
    z-index: 10;
  }
  .rad-info-box .heading {
      display: block;
      position: relative;
      color: #515d6e;
      text-align: left;
      z-index: 10;
      
    }
  
  .rad-info-box .heading {
    font-size: 14px;
    font-weight: 300;
    
    
    
    
  }
  
  .rad-info-box .value {
    font-size: 38px;
    font-weight: 600;
    margin-top: 5px;
  }

  .bo{
    border-bottom:2px solid #83BEDF;
    width: 50px;
    margin-left: 0px;

}
#liar{
    padding-right: 222px;
}
#ur{
    padding-right: 225px;
}
#la{
    padding-right: 206px;
}
#lar{
    padding-right: 216px;
}
#fermer{
    margin-top: 11px;
}

/* modal */
#h3{
    background-color: #747d8c;
    padding: 22px;
    color: white;
    width: 464px;
    font-weight: 700;
}
#defaultContactFormName{
    width: 222px;
    text-align: left;
}

#defaultContactFormEmail{
    text-align: left;
}
#sel{
    width: 222px;
}
#role{
    font-size: 25px;
    font-size: 15px;
    padding: 10px 20px;

}
#bt1{
    margin-top: 3px;
}