<script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
    
    <div class="main">
        <!-- buttons -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
              <div (click) = toggleDisplay() class="rad-info-box">
                <span class="heading">Livres en attente</span>
                <div class="bo"></div>
                <i class="fa fa-money" style="color: #f0932b;"></i>
                <span class="value"><span>2770</span></span>
              </div>
            </div>
            <div class="col-lg-3 col-xs-6">
              <div  (click) = toggleDisplay3() class="rad-info-box">
                <span class="heading">Livres approuvés</span>
                <div class="bo"></div>
                <i class="fa fa-money" style="color: #e74c3c;"></i>
                <span class="value"><span>23K</span></span>
              </div>
            </div>
        
            <div class="col-lg-3 col-xs-6">
              <div (click) = toggleDisplay2()  class="rad-info-box">
                <span class="heading">Livres archivés</span>
                <div class="bo"></div>
                <i class="fa fa-money" style="color: #3498db;"></i>
                <span class="value"><span>49M</span></span>
              </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div  (click) = toggleDisplay4() class="rad-info-box">
                  <span class="heading">Livres de Urbateur</span>
                  <div class="bo"></div>
                  <i class="fa fa-money" style="color: #3498db;"></i>
                  <span class="value"><span>49M</span></span>
                </div>
              </div>
        <!-- livres -->
        <div  [hidden] = "isShow" class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2 id="la">Livres en attente</h2>
                            <div class="bo"></div>
                        </div>
                        <div class="col-sm-7">
                            <form class="form-inline ">
                                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Chercher"
                                  aria-label="Search">
                                  <i id="se" class="material-icons">search</i>
                            </form>         
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Référence</th>
                            <th>Nom du livre</th>
                            <th>Ajouter par</th>
                            <th>email</th>						
                            <th>Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>13309</td>
                            <td>Architécture verte</td>
                            <td>Aymane Benhima</td>
                            <td>AymaneBenhima@gmail.com</td>
                            <td>16/04/2020 18:37</td>   
                            <td class="s">En attente</td>                     
                            
                            
                            <td>
                                <a href="#" class="settings" title="comfirmer" data-toggle="tooltip"><i id="comfirm" class="material-icons">done_all</i></a>
                                
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>20441</td>
                            <td>Aramco Word</td>
                            <td>Elatmani Adil</td>
                            <td>ElatmaniAdil@gmail.com</td>
                            <td>16/04/2020 18:37</td> 
                            <td class="s">En attente</td>                       
                            
                            
                            <td>
                                <a href="#" class="settings" title="comfirmer" data-toggle="tooltip"><i id="comfirm" class="material-icons">done_all</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>30775</td>
                            <td>Apprendre Lumion</td>
                            <td>Mhaidrat Leila</td>
                            <td>MhaidratLeila@gmail.com</td>
                            <td>16/04/2020 18:37</td>
                            <td class="s">En attente</td> 
                            
                                                  
                            <td>
                                <a href="#" class="settings" title="comfirmer" data-toggle="tooltip"><i id="comfirm" class="material-icons">done_all</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>                        
                        </tr>
                        <tr>
                            <td>88015</td>
                            <td>Le dessin technique</td>
                            <td>Lafkih Yassine</td>
                            <td>LafkihYassine@gmail.com</td>
                            <td>16/04/2020 18:37</td> 
                            <td class="s">En attente</td>                        
                            
                            
                            <td>
                                <a href="#" class="settings" title="comfirmer" data-toggle="tooltip"><i id="comfirm" class="material-icons">done_all</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>88015</td>
                            <td>Le dessin technique</td>
                            <td>Lafkih Yassine</td>
                            <td>LafkihYassine@gmail.com</td>
                            <td>16/04/2020 18:37</td> 
                            <td class="s">En attente</td>                        
                            
                            
                            <td>
                                <a href="#" class="settings" title="comfirmer" data-toggle="tooltip"><i id="comfirm" class="material-icons">done_all</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <div class="clearfix">
                    <div class="hint-text">Affichage de <b>5</b> livres sur <b>25</b></div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Previous</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>     
        <div  [hidden] = "isShow2" class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2 id="liar">Livres archivés</h2>
                            <div class="bo"></div>
                        </div>
                        <div class="col-sm-7">
                            <form class="form-inline ">
                                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Chercher"
                                  aria-label="Search">
                                  <i id="se" class="material-icons">search</i>
                            </form>         
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Référence</th>
                            <th>Nom du livre</th>
                            <th>Ajouter par</th>
                            <th>email</th>						
                            <th>Date</th>
                            
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>13309</td>
                            <td>Architécture verte</td>
                            <td>Aymane Benhima</td>
                            <td>AymaneBenhima@gmail.com</td>
                            <td>16/04/2020 18:37</td>   
                                                
                            
                            
                            <td>
                                
                                
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>20441</td>
                            <td>Aramco Word</td>
                            <td>Elatmani Adil</td>
                            <td>ElatmaniAdil@gmail.com</td>
                            <td>16/04/2020 18:37</td> 
                                                  
                            
                            
                            <td>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>30775</td>
                            <td>Apprendre Lumion</td>
                            <td>Mhaidrat Leila</td>
                            <td>MhaidratLeila@gmail.com</td>
                            <td>16/04/2020 18:37</td>
                            
                            
                                                  
                            <td>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>                        
                        </tr>
                        <tr>
                            <td>88015</td>
                            <td>Le dessin technique</td>
                            <td>Lafkih Yassine</td>
                            <td>LafkihYassine@gmail.com</td>
                            <td>16/04/2020 18:37</td> 
                                                   
                            
                            
                            <td>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>88015</td>
                            <td>Le dessin technique</td>
                            <td>Lafkih Yassine</td>
                            <td>LafkihYassine@gmail.com</td>
                            <td>16/04/2020 18:37</td> 
                            
                            
                            <td>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <div class="clearfix">
                    <div class="hint-text">Affichage de <b>5</b> livres sur <b>25</b></div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Previous</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>     
        <!-- livres archivés -->
        <div  [hidden] = "isShow3" class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2 id="lar">Livres approuvé</h2>
                            <div class="bo"></div>
                        </div>
                        <div class="col-sm-7">
                            <form class="form-inline ">
                                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Chercher"
                                  aria-label="Search">
                                  <i id="se" class="material-icons">search</i>
                            </form>         
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Référence</th>
                            <th>Nom du livre</th>
                            <th>Ajouter par</th>
                            <th>email</th>						
                            <th>Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>13309</td>
                            <td>Architécture verte</td>
                            <td>Aymane Benhima</td>
                            <td>AymaneBenhima@gmail.com</td>
                            <td>16/04/2020 18:37</td>   
                            <td class="c">validé</td>                     
                            
                            
                            <td>
                                <a href="#" class="settings" title="comfirmer" data-toggle="tooltip"><i id="comfirm" class="material-icons">done_all</i></a>
                                
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>20441</td>
                            <td>Aramco Word</td>
                            <td>Elatmani Adil</td>
                            <td>ElatmaniAdil@gmail.com</td>
                            <td>16/04/2020 18:37</td> 
                            <td class="c">validé</td>                       
                            
                            
                            <td>
                                <a href="#" class="settings" title="comfirmer" data-toggle="tooltip"><i id="comfirm" class="material-icons">done_all</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>30775</td>
                            <td>Apprendre Lumion</td>
                            <td>Mhaidrat Leila</td>
                            <td>MhaidratLeila@gmail.com</td>
                            <td>16/04/2020 18:37</td>
                            <td class="c">validé</td> 
                            
                                                  
                            <td>
                                <a href="#" class="settings" title="comfirmer" data-toggle="tooltip"><i id="comfirm" class="material-icons">done_all</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>                        
                        </tr>
                        <tr>
                            <td>88015</td>
                            <td>Le dessin technique</td>
                            <td>Lafkih Yassine</td>
                            <td>LafkihYassine@gmail.com</td>
                            <td>16/04/2020 18:37</td> 
                            <td class="c">validé</td>                        
                            
                            
                            <td>
                                <a href="#" class="settings" title="comfirmer" data-toggle="tooltip"><i id="comfirm" class="material-icons">done_all</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>88015</td>
                            <td>Le dessin technique</td>
                            <td>Lafkih Yassine</td>
                            <td>LafkihYassine@gmail.com</td>
                            <td>16/04/2020 18:37</td> 
                            <td class="c">validé</td>                        
                            
                            
                            <td>
                                <a href="#" class="settings" title="comfirmer" data-toggle="tooltip"><i id="comfirm" class="material-icons">done_all</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <div class="clearfix">
                    <div class="hint-text">Affichage de <b>5</b> livres sur <b>25</b></div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Previous</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>     


        <!-- urbateur livre -->
        <div [hidden] = "isShow4" class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2 id="ur">Urbateur livres</h2>
                            <div class="bo"></div>
                        </div>
                        <div class="col-sm-7">
                            <form class="form-inline ">
                                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Chercher"
                                  aria-label="Search">
                                  <i id="se" class="material-icons">search</i>
                            </form>         
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Référence</th>
                            <th>Nom du livre</th>
                            <th>Ajouter par</th>
                            <th>email</th>						
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>13309</td>
                            <td>Architécture verte</td>
                            <td>Aymane Benhima</td>
                            <td>AymaneBenhima@gmail.com</td>
                            <td>16/04/2020 18:37</td>   
                                              
                            
                            
                            <td>
                                <a href="#" class="settings" title="modifier" data-toggle="tooltip"><i id="edit" class="material-icons">edit</i></a>
                                
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>20441</td>
                            <td>Aramco Word</td>
                            <td>Elatmani Adil</td>
                            <td>ElatmaniAdil@gmail.com</td>
                            <td>16/04/2020 18:37</td> 
                                                   
                            
                            
                            <td>
                                <a href="#" class="settings" title="modifier" data-toggle="tooltip"><i id="edit" class="material-icons">edit</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>30775</td>
                            <td>Apprendre Lumion</td>
                            <td>Mhaidrat Leila</td>
                            <td>MhaidratLeila@gmail.com</td>
                            <td>16/04/2020 18:37</td>

                            
                                                  
                            <td>
                                <a href="#" class="settings" title="modifier" data-toggle="tooltip"><i id="edit" class="material-icons">edit</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>                        
                        </tr>
                        <tr>
                            <td>88015</td>
                            <td>Le dessin technique</td>
                            <td>Lafkih Yassine</td>
                            <td>LafkihYassine@gmail.com</td>
                            <td>16/04/2020 18:37</td> 
                      
                            
                            
                            <td>
                                <a href="#" class="settings" title="modifier" data-toggle="tooltip"><i id="edit" class="material-icons">edit</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i id="delete" class="material-icons">delete_forever</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <a href="#myModal" data-toggle="modal"><button type="button" class="btn btn-secondary btn-sm">Ajouter</button></a>
            </div>
        </div> 
        <!-- data modal -->
        <!-- <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
            <div class="modal-dialog">  
                 <div class="modal-content">  
                        
                      <div class="modal-body">  
                        <h3 id="h3" >Ajouter un livre</h3>
                           <form method="post" id="insert_form"> 
                               
                               <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Titre du livre">
    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Auteur"> -->
    <!-- Message -->
    <!-- <div class="form-group">
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Description"></textarea>
    </div> -->
                                  
                                <!-- <input type="hidden" name="employee_id" id="employee_id" />   -->
                                 
                           <!-- </form>  
                      </div>  
                      <div class="modal-footer d-flex justify-content-between align-items-center">  
                        <input type="submit" name="insert" id="insert" value="Ajouter" class="btn btn-secondary" />
                        
                        

                            
                      </div>  
                 </div>  
            </div>  

       </div> -->
       <!-- book model -->
       <!-- data modal -->
       <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
        <div class="modal-dialog">  
             <div class="modal-content">  
                    
                  <div class="modal-body">  
                      <h3 id="h3" >Ajouter un livre</h3>
                       <form method="post" id="insert_form"> 
                           <div class="d-flex flex-row justify-content-md-between">
                           <input type="text" id="defaultContactFormName1" class="form-control mb-4" placeholder="Titre du livre">
</div> 

<div class="d-flex flex-row justify-content-md-between">
    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Auteur">
<select id="sel" class="browser-default custom-select mb-4">
    <option value="" disabled selected>Catégories</option>
    <option value="1" >Entreprenariat</option>
    <option value="2">Communication</option>
    <option value="3">Architècture</option>
    <option value="4">Modélisation 3d</option>
</select> </div>
<div class="form-group">
    <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Description"></textarea>
</div>
                              
                            <!-- <input type="hidden" name="employee_id" id="employee_id" />   -->
                             
                       </form>  
                  </div>  
                  <div class="modal-footer d-flex justify-content-between align-items-center">  
                   
                        <button id="bt1" type="button" class="btn btn-secondary btn-sm"> Ajouter</button>
                            <input  type="file" name="files[]" multiple="">
                  </div>  
             </div>  
        </div>  

   </div>
   
    </div>
