
<div class="bg">
  <div class="login">
    <div class="login-triangle"></div>
    
    <h2 class="login-header">Log in</h2>
  
    <form class="login-container">
      <p><input type="email" placeholder="Email" name="Email" [(ngModel)]="email"></p>
      <p><input type="password" placeholder="Password" name="Password" [(ngModel)]="password"></p>
    <p><input  type="submit" value="Log in" (click)="LoginUser()"></p>
    </form>
  </div>
</div>