<div class="main">
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <div class="rad-info-box">
        <span class="heading">Messages envoyés</span>
        <div class="bo"></div>
        <i class="material-icons" style="color: #27ae60;">send</i>
        <span class="value"><span>2770</span></span>
      </div>
    </div>
    <div class="col-lg-3 col-xs-6">
      <div class="rad-info-box">
        <span class="heading">Messages reçus</span>
        <div class="bo"></div>
        <i class="material-icons" style="color:#3498db; ">mail</i>
        <span class="value"><span>23K</span></span>
      </div>
    </div>

    <div class="col-lg-3 col-xs-6">
      <div class="rad-info-box">
        <span class="heading">Messages supprimés</span>
        <div class="bo"></div>
        <i class="material-icons" style="color: #e74c3c;">delete</i>
        <span class="value"><span>49M</span></span>
      </div>
    </div>

    <div class="col-lg-3 col-xs-6">
      <div class="rad-info-box">
        <span class="heading">Messages archivés</span>
        <div class="bo"></div>
        <i class="material-icons" style="color: #f0932b;">archive</i>
        <span class="value"><span>10.9K</span></span>
      </div>
    </div>
    <section ng-init="tab = 2">
    <div class="container">
        <div class="mail-box">
          <aside class="sm-side">
            
            <div class="inbox-body">
              <a href="#myModal" data-toggle="modal" title="Compose" class="btn btn-compose">
                                    Envoyer un message
                                </a>
              <!-- Modal -->
              <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                      <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                      <form role="form" class="form-horizontal">
                        <div class="form-group">
                          <label class="col-lg-2 control-label">à</label>
                          <div class="col-lg-10">
                            <input type="text" placeholder="" id="inputEmail1" class="form-control">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-2 control-label">Cc / Cci</label>
                          <div class="col-lg-10">
                            <input type="text" placeholder="" id="cc" class="form-control">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-2 control-label">Objet</label>
                          <div class="col-lg-10">
                            <input type="text" placeholder="" id="inputPassword1" class="form-control">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-2 control-label">Message</label>
                          <div class="col-lg-10">
                            <textarea rows="10" cols="30" class="form-control" id="" name=""></textarea>
                          </div>
                        </div>
      
                        <div class="form-group">
                          <div class="col-lg-offset-2 col-lg-10">
                            <span class="btn green fileinput-button">
                                                              <i class="fa fa-plus fa fa-white"></i>
                                                              <span>Pièce jointe</span>
                            <input type="file" name="files[]" multiple="">
                            </span>
                            <button class="btn btn-send" type="submit">Envoyer</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
              <!-- /.modal -->
            </div>
            <ul class="inbox-nav inbox-divider d-flex flex-column justify-content-start align-self-center">
              <li (click) = toggleDisplay()>
                <a><i class="fa fa-inbox"></i> Reception </a>
      
              </li>
              <li (click) = toggleDisplay2()>
                <a><i class="fas fa-envelope-open-text"></i> Envoyé </a>
              </li>
              
              <li (click) = toggleDisplay3()>
                <a><i class="fas fa-external-link-alt"></i> Archivé </a>
              </li>
              <li (click) = toggleDisplay4()>
                <a><i class="fas fa-trash-alt"></i> Supprimé </a>
              </li>
            </ul>
          
    
      
          </aside>
          <aside class="lg-side">
            <div class="inbox-head">
              <!-- <h3>Messages reçu</h3> -->
              <form action="#" class="pull-right position">
                <div class="input-append">
                  <input type="text" class="sr-input" placeholder="chercher un message">
                  <button class="btn sr-btn" type="button"><i class="fa fa-search"></i></button>
                </div>
              </form>
            </div>
            <!-- inbox -->
            <div id="inbox" class="inbox-body" [hidden] = "isShow" >
              <div class="mail-option">
                <div class="chk-all">
                  <input type="checkbox" class="mail-checkbox mail-group-checkbox">
                  <div class="btn-group">
                    <a data-toggle="dropdown" href="#" class="btn mini all" aria-expanded="false">
                                               Tout
                                               <i class="fa fa-angle-down "></i>
                                           </a>
                    <ul class="dropdown-menu">
                      <li><a href="#"> Rien</a></li>
                      <li><a href="#"> Lu</a></li>
                      <li><a href="#"> Non lu</a></li>
                    </ul>
                  </div>
                </div>
      
                <div class="btn-group">
                  <a data-original-title="Refresh" data-placement="top" data-toggle="dropdown" href="#" class="btn mini tooltips">
                    <i class=" fa fa-refresh"></i>
                  </a>
                </div>
                <div class="btn-group hidden-phone">
                  <a data-toggle="dropdown" href="#" class="btn mini blue" aria-expanded="false">
                                           Plus
                                           <i class="fa fa-angle-down "></i>
                                       </a>
                  <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-pencil"></i> Marquer comme lu</a></li>
                    <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-trash-o"></i>Supprimer</a></li>
                  </ul>
                </div>
                <div class="btn-group">
                  <a data-toggle="dropdown" href="#" class="btn mini blue">
                                           déplacer vers
                                           <i class="fa fa-angle-down "></i>
                                       </a>
                  <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                    <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                  </ul>
                </div>
      
                <ul class="unstyled inbox-pagination">
                  <li><span>1-50 of 234</span></li>
                  <li>
                    <a class="np-btn" href="#"><i class="fa fa-angle-left  pagination-left"></i></a>
                  </li>
                  <li>
                    <a class="np-btn" href="#"><i class="fa fa-angle-right pagination-right"></i></a>
                  </li>
                </ul>
              </div>
              <table class="table table-inbox table-hover">
                <tbody>
                  <tr class="unread">
                    <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                    </td>
                    <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                    <td class="view-message  dont-show">PHPClass</td>
                    <td class="view-message ">Added a new class: Login Class Fast Site</td>
                    <td class="view-message  inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                    <td class="view-message  text-right">9:27 AM</td>
                  </tr>
                  <tr class="unread">
                    <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                    </td>
                    <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                    <td class="view-message dont-show">Google Webmaster </td>
                    <td class="view-message">Improve the search presence of WebSite</td>
                    <td class="view-message inbox-small-cells"></td>
                    <td class="view-message text-right">March 15</td>
                  </tr>
                  <tr class="">
                    <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                    </td>
                    <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                    <td class="view-message dont-show">JW Player</td>
                    <td class="view-message">Last Chance: Upgrade to Pro for </td>
                    <td class="view-message inbox-small-cells"></td>
                    <td class="view-message text-right">March 15</td>
                  </tr>
                  <tr class="">
                    <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                    </td>
                    <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                    <td class="view-message dont-show">Tim Reid, S P N</td>
                    <td class="view-message">Boost Your Website Traffic</td>
                    <td class="view-message inbox-small-cells"></td>
                    <td class="view-message text-right">April 01</td>
                  </tr>
                  <tr class="">
                    <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                    </td>
                    <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
                    <td class="view-message dont-show">Freelancer.com</td>
                    <td class="view-message">Stop wasting your visitors </td>
                    <td class="view-message inbox-small-cells"></td>
                    <td class="view-message text-right">May 23</td>
                  </tr>
                  <tr class="">
                    <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                    </td>
                    <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
                    <td class="view-message dont-show">WOW Slider </td>
                    <td class="view-message">New WOW Slider v7.8 - 67% off</td>
                    <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                    <td class="view-message text-right">March 14</td>
                  </tr>
                  <tr class="">
                    <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                    </td>
                    <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
                    <td class="view-message dont-show">LinkedIn Pulse</td>
                    <td class="view-message">The One Sign Your Co-Worker Will Stab</td>
                    <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                    <td class="view-message text-right">Feb 19</td>
                  </tr>
                  <tr class="">
                    <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                    </td>
                    <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                    <td class="view-message dont-show">Drupal Community</td>
                    <td class="view-message view-message">Welcome to the Drupal Community</td>
                    <td class="view-message inbox-small-cells"></td>
                    <td class="view-message text-right">March 04</td>
                  </tr>
                  <tr class="">
                    <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                    </td>
                    <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                    <td class="view-message dont-show">Facebook</td>
                    <td class="view-message view-message">Somebody requested a new password </td>
                    <td class="view-message inbox-small-cells"></td>
                    <td class="view-message text-right">June 13</td>
                  </tr>
                  <tr class="">
                    <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                    </td>
                    <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                    <td class="view-message dont-show">Skype</td>
                    <td class="view-message view-message">Password successfully changed</td>
                    <td class="view-message inbox-small-cells"></td>
                    <td class="view-message text-right">March 24</td>
                  </tr>
                  <tr class="">
                    <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                    </td>
                    <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
                    <td class="view-message dont-show">Google+</td>
                    <td class="view-message">alireza, do you know</td>
                    <td class="view-message inbox-small-cells"></td>
                    <td class="view-message text-right">March 09</td>
                  </tr>
                  <tr class="">
                    <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                    </td>
                    <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
                    <td class="dont-show">Zoosk </td>
                    <td class="view-message">7 new singles we think you'll like</td>
                    <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                    <td class="view-message text-right">May 14</td>
                  </tr>
                  
                  <tr class="">
                    <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                    </td>
                    <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                    <td class="dont-show">Facebook</td>
                    <td class="view-message view-message">Your account was recently logged into</td>
                    <td class="view-message inbox-small-cells"></td>
                    <td class="view-message text-right">March 14</td>
                  </tr>
                  <tr class="">
                    <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                    </td>
                    <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                    <td class="view-message dont-show">Twitter</td>
                    <td class="view-message">Your Twitter password has been changed</td>
                    <td class="view-message inbox-small-cells"></td>
                    <td class="view-message text-right">April 07</td>
                  </tr>
                 
                  
                </tbody>
              </table>
            </div>





            <!-- sent -->
            <div id="sent" class="inbox-body" [hidden] = "isShow2" >
              <div class="mail-option">
                <div class="chk-all">
                  <input type="checkbox" class="mail-checkbox mail-group-checkbox">
                  <div class="btn-group">
                    <a data-toggle="dropdown" href="#" class="btn mini all" aria-expanded="false">
                                               All
                                               <i class="fa fa-angle-down "></i>
                                           </a>
                    <ul class="dropdown-menu">
                      <li><a href="#"> None</a></li>
                      <li><a href="#"> Read</a></li>
                      <li><a href="#"> Unread</a></li>
                    </ul>
                  </div>
                </div>
      
                <div class="btn-group">
                  <a data-original-title="Refresh" data-placement="top" data-toggle="dropdown" href="#" class="btn mini tooltips">
                    <i class=" fa fa-refresh"></i>
                  </a>
                </div>
                <div class="btn-group hidden-phone">
                  <a data-toggle="dropdown" href="#" class="btn mini blue" aria-expanded="false">
                                           More
                                           <i class="fa fa-angle-down "></i>
                                       </a>
                  <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                    <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                  </ul>
                </div>
                <div class="btn-group">
                  <a data-toggle="dropdown" href="#" class="btn mini blue">
                                           Move to
                                           <i class="fa fa-angle-down "></i>
                                       </a>
                  <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                    <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                  </ul>
                </div>
      
                <ul class="unstyled inbox-pagination">
                  <li><span>1-50 of 234</span></li>
                  <li>
                    <a class="np-btn" href="#"><i class="fa fa-angle-left  pagination-left"></i></a>
                  </li>
                  <li>
                    <a class="np-btn" href="#"><i class="fa fa-angle-right pagination-right"></i></a>
                  </li>
                </ul>
              </div>
              <table class="table table-inbox table-hover">
                <tbody>
                  
                  
                  
                  <tr class="">
                    <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                    </td>
                    <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                    <td class="view-message dont-show">Mohamed Dardour</td>
                    <td class="view-message">Test driven developement</td>
                    <td class="view-message inbox-small-cells"></td>
                    <td class="view-message text-right">june 01</td>
                  </tr>
                  <tr class="">
                    <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                    </td>
                    <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
                    <td class="view-message dont-show">gfi</td>
                    <td class="view-message"> new event with Atos </td>
                    <td class="view-message inbox-small-cells"></td>
                    <td class="view-message text-right">May 23</td>
                  </tr>
                  <tr class="">
                    <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                    </td>
                    <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
                    <td class="view-message dont-show">Hack4africa</td>
                    <td class="view-message">Innovation v7.8 - 67% off</td>
                    <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                    <td class="view-message text-right">March 14</td>
                  </tr>
                  
                 
                  
                </tbody>
              </table>
            </div>
            <!-- archive -->
            <div id="archive" class="inbox-body" [hidden] = "isShow3" >
              <div class="mail-option">
                <div class="chk-all">
                  <input type="checkbox" class="mail-checkbox mail-group-checkbox">
                  <div class="btn-group">
                    <a data-toggle="dropdown" href="#" class="btn mini all" aria-expanded="false">
                                               All
                                               <i class="fa fa-angle-down "></i>
                                           </a>
                    <ul class="dropdown-menu">
                      <li><a href="#"> None</a></li>
                      <li><a href="#"> Read</a></li>
                      <li><a href="#"> Unread</a></li>
                    </ul>
                  </div>
                </div>
      
                <div class="btn-group">
                  <a data-original-title="Refresh" data-placement="top" data-toggle="dropdown" href="#" class="btn mini tooltips">
                    <i class=" fa fa-refresh"></i>
                  </a>
                </div>
                <div class="btn-group hidden-phone">
                  <a data-toggle="dropdown" href="#" class="btn mini blue" aria-expanded="false">
                                           More
                                           <i class="fa fa-angle-down "></i>
                                       </a>
                  <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                    <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                  </ul>
                </div>
                <div class="btn-group">
                  <a data-toggle="dropdown" href="#" class="btn mini blue">
                                           Move to
                                           <i class="fa fa-angle-down "></i>
                                       </a>
                  <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                    <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                  </ul>
                </div>
      
                <ul class="unstyled inbox-pagination">
                  <li><span>1-20 of 3</span></li>
                  <li>
                    <a class="np-btn" href="#"><i class="fa fa-angle-left  pagination-left"></i></a>
                  </li>
                  <li>
                    <a class="np-btn" href="#"><i class="fa fa-angle-right pagination-right"></i></a>
                  </li>
                </ul>
              </div>
              <table class="table table-inbox table-hover">
                <tbody>
                  
                  
                  
                  <tr class="">
                    <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                    </td>
                    <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                    <td class="view-message dont-show">Tim Reid, S P N</td>
                    <td class="view-message">Boost Your Website Traffic</td>
                    <td class="view-message inbox-small-cells"></td>
                    <td class="view-message text-right">April 01</td>
                  </tr>
                  <tr class="">
                    <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                    </td>
                    <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
                    <td class="view-message dont-show">Freelancer.com</td>
                    <td class="view-message">Stop wasting your visitors </td>
                    <td class="view-message inbox-small-cells"></td>
                    <td class="view-message text-right">May 23</td>
                  </tr>
                  <tr class="">
                    <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                    </td>
                    <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
                    <td class="view-message dont-show">WOW Slider </td>
                    <td class="view-message">New WOW Slider v7.8 - 67% off</td>
                    <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                    <td class="view-message text-right">March 14</td>
                  </tr>
                  
                 
                  
                </tbody>
              </table>
            </div>
            <!-- delete -->
            <div id="delete" class="inbox-body" [hidden] = "isShow4" >
              <div class="mail-option">
                <div class="chk-all">
                  <input type="checkbox" class="mail-checkbox mail-group-checkbox">
                  <div class="btn-group">
                    <a data-toggle="dropdown" href="#" class="btn mini all" aria-expanded="false">
                                               All
                                               <i class="fa fa-angle-down "></i>
                                           </a>
                    <ul class="dropdown-menu">
                      <li><a href="#"> None</a></li>
                      <li><a href="#"> Read</a></li>
                      <li><a href="#"> Unread</a></li>
                    </ul>
                  </div>
                </div>
      
                <div class="btn-group">
                  <a data-original-title="Refresh" data-placement="top" data-toggle="dropdown" href="#" class="btn mini tooltips">
                    <i class=" fa fa-refresh"></i>
                  </a>
                </div>
                <div class="btn-group hidden-phone">
                  <a data-toggle="dropdown" href="#" class="btn mini blue" aria-expanded="false">
                                           More
                                           <i class="fa fa-angle-down "></i>
                                       </a>
                  <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                    <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                  </ul>
                </div>
                <div class="btn-group">
                  <a data-toggle="dropdown" href="#" class="btn mini blue">
                                           Move to
                                           <i class="fa fa-angle-down "></i>
                                       </a>
                  <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                    <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                  </ul>
                </div>
      
                <ul class="unstyled inbox-pagination">
                  <li><span>1-20 of 3</span></li>
                  <li>
                    <a class="np-btn" href="#"><i class="fa fa-angle-left  pagination-left"></i></a>
                  </li>
                  <li>
                    <a class="np-btn" href="#"><i class="fa fa-angle-right pagination-right"></i></a>
                  </li>
                </ul>
              </div>
              <table class="table table-inbox table-hover">
                <tbody>
                  
                  
                  
                  <tr class="">
                    <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                    </td>
                    <td class="inbox-small-cells"></td>
                    <td class="view-message dont-show">Explorer Ventures</td>
                    <td class="view-message">Your id 3488475208 </td>
                    <td class="view-message inbox-small-cells"></td>
                    <td class="view-message text-right">April 01</td>
                  </tr>
                  <tr class="">
                    <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                    </td>
                    <td class="inbox-small-cells"></td>
                    <td class="view-message dont-show">Guru.com</td>
                    <td class="view-message">50 New jobs </td>
                    <td class="view-message inbox-small-cells"></td>
                    <td class="view-message text-right">May 23</td>
                  </tr>
                  <tr class="">
                    <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                    </td>
                    <td class="inbox-small-cells"></td>
                    <td class="view-message dont-show">SAP</td>
                    <td class="view-message">New PLATEFORM  - 67% off</td>
                    <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                    <td class="view-message text-right">March 14</td>
                  </tr>
                  
                 
                  
                </tbody>
              </table>
            </div>


          </aside>
        </div>
      </div>
    </section>
</div>